# levels needed for certain commands
level_transit	= 50			# transit
level_esp	= 10			# engtoesp/esptoeng
level_showkey	= 50			# showkey
level_msg	= 10			# messaging
level_fortune	= 250			# tellfortune
level_geturl	= 250			# geturl
level_dw	= 250			# level needed to use defineword

showfaillogin	= 1			# tell users if password incorrect

# defineword and spellword
max_deflen	= 15			# maximum length of defenitions so as not to flood satel off irc
dw_qm		= 0			# if quotemeta should be used
dw_timeout	= 20			# timeout for defineword, only if forked, 0=no timeout
dw_fork		= 0			# if defineword should fork each time

notextlog	= 0
dumpraw		= 0			# log all input from server
redirectlog	= ""			# redirect log to irc, ""=no redirection
logtext		= 1			# if all text should be logged
logcommands	= 0			# if all commands should be logged

version		= "060700"	# day-month-year
botname		= "satel"
ircname		= "what do I want with a million dollars and a pickup truck?"

ctcpversion	= "BitchX-75p2+[060700] by panasync - IRIX 6.2 : Entropy..."	# CTCP Version reply

finger		= "satel@someaddress.net"
mailaddress	= "someaddress.net"
